/* Font Jua */
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
/* Font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rubik:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    opacity: 0;
    animation: body-load 250ms ease-in-out 300ms forwards;
}

::selection {
    background-color: white;
    color: #D89E9E;
}

.navbar {
    font-family: 'Rubik', sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    text-shadow: 0 3px 3px rgba(0, 0, 0, .5);
    border-bottom-right-radius: 25px;
    opacity: 0;
    animation: nav-load 500ms ease-out 700ms forwards;
}

.navbar-brand {
    font-family: 'Jua', sans-serif;
    padding-left: 3rem;
    opacity: 0;
    animation: nav-title 1s ease-in 1s forwards;
}

.nav-item {
    opacity: 0;
    animation: nav-menu 1s ease-out 1.5s forwards;
}

.nav-link {
    text-shadow: none;
    background-color: #C88787;
    border-radius: 16px;
    width: 10rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
    font-size: 1.4rem;
    transform: translateY(-3px);
    transition: 0.3s ease;
    height: 3rem;
}

.nav-link .bi-person-circle {
    margin-top: -2px;
    font-size: 1.6rem;
}

.nav-link:hover {
    transform: translateY(0);
}

.nav-link.active {
    transform: translateY(-3px);
}

.menu-kiri {
    height: 93.2vh;
    background-color: #754646;
    color: white;
}

.menu-kiri .judul h3 {
    font-weight: bold;
}

.menu-kiri .awal {
    font-size: 1.3rem;
    list-style: none;
}

.menu-kiri .bi-house-door,
.menu-kiri .bi-basket-fill {
    margin-right: .5rem;
    font-size: 1.9rem;
    list-style: none;
}

.menu-kiri .kedua {
    list-style: none;
}

.menu-kiri .kedua a {
    color: inherit;
    text-decoration: none;
    transition: 0.5s ease;
}

.menu-kiri .kedua .aktif {
    text-decoration: underline;
}

.menu-kiri .kedua a:hover {
    text-decoration: underline;
}

.bungkus-1 {
    background-color: rgb(169, 94, 94, 0.56);
    height: 10vh;
}

.bungkus-2 {
    background-color: rgb(169, 94, 94, 0.56);
}

.list-judul li {
    list-style: none;
}

.list-judul li a {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}

.list-judul li a:hover {
    text-decoration: underline;
}

.list-judul li a.aktif {
    text-decoration: underline;
}

.barang {
    border-bottom: 3px solid #DAA7A7;
}

.bor {
    border: solid red;
}

@keyframes body-load {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        background-color: #D89E9E;
        opacity: 1;
    }
}

@keyframes nav-load {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes nav-title {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes nav-menu {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width:1200px) {
    .tombol button {
        width: 9.5rem;
        height: 1.8rem;
    }
}

@media(max-width: 992px) {
    .tombol {
        width: 3rem;
    }

    .tombol button {
        width: 9rem;
        height: 1.8rem;
    }
}
