/* Font Jua */
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
/* Font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rubik:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    opacity: 0;
    animation: body-load 250ms ease-in-out 300ms forwards;
}

::selection {
    background-color: white;
    color: #D89E9E;
}

.navbar {
    font-family: 'Rubik', sans-serif;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, .5);
    text-shadow: 0 3px 3px rgba(0, 0, 0, .5);
    opacity: 0;
    animation: nav-load 500ms ease-out 700ms forwards;
}

.navbar-brand {
    font-family: 'Jua', sans-serif;
    padding-left: 3rem;
    opacity: 0;
    animation: nav-title 1s ease-in 1s forwards;
}

.nav-item {
    opacity: 0;
    animation: nav-menu 1s ease-out 1.5s forwards;
}

.nav-link {
    transform: translateY(0);
    transition: 0.3s ease;
}

.nav-link:hover {
    transform: translateY(3px);
}

.nav-link.active {
    transform: translateY(-3px);
}

.sisi-kiri {
    height: 60vh;
}

.teks h2 {
    font-size: 2rem;
    text-shadow: 0 3px 3px rgba(0, 0, 0, .5);
    opacity: 0;
    animation: teks-h2-load 1s ease 1.8s forwards;
}

.teks p {
    font-size: 1rem;
    opacity: 0;
    animation: teks-p-load 1s ease 2s forwards;
}

.tombol button {
    width: 9.7rem;
    height: 1.8rem;
    border: none;
    outline: none;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
    cursor: pointer;
    transition: 0.5s ease;
}

.tombol button:first-child {
    margin-right: 10px;
    opacity: 0;
    animation: tblBut-load-awal 1.2s ease-out 2s forwards;
}

.tombol button:last-child {
    margin-left: 10px;
    opacity: 0;
    animation: tblBut-load-akhir 1.2s ease-out 2.3s forwards;
}

.tombol button:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, .5);
    transform: translateY(-5px);
}

.tombol button a {
    color: #D89E9E;
    text-decoration: none;
}

.gambar {
    opacity: 0;
    animation: gambar-load 1.6s ease-out 2.2s forwards;
}

.tombol-prev,
.tombol-next {
    width: 2.5rem;
    height: 2.5rem;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
}

.bi-chevron-left,
.bi-chevron-right {

    color: #D89E9E;
}

.bor {
    border: solid red;
}

@keyframes body-load {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        background-color: #D89E9E;
        opacity: 1;
    }
}

@keyframes nav-load {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes nav-title {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes nav-menu {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes teks-h2-load {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes teks-p-load {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes tblBut-load-awal {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes tblBut-load-akhir {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes gambar-load {
    0% {
        transform: translate(-200px, -200px);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@media (max-width:1200px) {
    .tombol button {
        width: 9.5rem;
        height: 1.8rem;
    }
}

@media(max-width: 992px) {
    .tombol {
        width: 3rem;
    }

    .tombol button {
        width: 9rem;
        height: 1.8rem;
    }
}
