/* Font Jua */
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
/* Font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rubik:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    opacity: 0;
    animation: body-load 250ms ease-in-out 300ms forwards;
}

::selection {
    background-color: white;
    color: #D89E9E;
}

.navbar {
    font-family: 'Rubik', sans-serif;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, .5);
    text-shadow: 0 3px 3px rgba(0, 0, 0, .5);
    opacity: 0;
    animation: nav-load 500ms ease-out 700ms forwards;
}

.navbar-brand {
    font-family: 'Jua', sans-serif;
    padding-left: 3rem;
    opacity: 0;
    animation: nav-title 1s ease-in 1s forwards;
}

.nav-item {
    opacity: 0;
    animation: nav-menu 1s ease-out 1.5s forwards;
}

.nav-link {
    transform: translateY(-3px);
    transition: 0.3s ease;
}

.nav-link:hover {
    transform: translateY(0);
}

.nav-link.active {
    transform: translateY(0);
}

.kol-reg {
    height: 70vh;
    opacity: 0;
    animation: kol-reg-load 1.2s ease 1.5s forwards;
}

.kolom-registrasi {
    border-radius: 25px;
    height: 68vh;
}

.judul-registrasi {
    border-bottom: solid #E6E6E6;
    margin-bottom: 1rem;
}

.teks-registrasi h2 {
    font-size: 3rem;
    margin-bottom: 1.3rem;
    font-weight: bold;
    text-shadow: 0 3px 5px rgba(0, 0, 0, .5);
}

.teks-registrasi .form-text {
    opacity: .5;
    font-size: .8rem;
}

.input-data .form-control {
    box-shadow: none;
    font-size: .95rem;
}

.input-data .form-floating {
    font-weight: 100;
}

.input-data input {
    background-color: #EFEFEF;
    color: #979797;
    transition: 0.8s ease;
}

.input-data input:focus,
.input-data input:active {
    animation: efek-input .5s ease;
    animation-fill-mode: forwards;
}

.tombol {
    padding-left: 55%;
}

.form-check label {
    font-size: 0.8rem;
}

.tblDaftar {
    width: 144px;
    border-radius: 25px;
    background-color: #D89E9E;
    color: white;
    border: none;
    height: 28px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .5);
    transition: 0.3s ease;
}

.tblDaftar:hover {
    transform: translateY(-3px);
}

.gambar {
    opacity: 0;
    animation: gambar-load 1.3s ease-in-out 2s forwards;
}

.tombol-prev,
.tombol-next {
    width: 2.5rem;
    height: 2.5rem;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
}

.bi-chevron-left,
.bi-chevron-right {

    color: #D89E9E;
}

.bor {
    border: solid red;
}

@keyframes body-load {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        background-color: #D89E9E;
        opacity: 1;
    }
}

@keyframes nav-load {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes nav-title {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes nav-menu {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes kol-reg-load {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes gambar-load {
    0% {
        transform: translate(200px, -200px);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes efek-input {
    100% {
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    }
}

@media (max-width:1200px) {
    .tombol button {
        width: 9.5rem;
        height: 1.8rem;
    }
}

@media(max-width: 992px) {
    .tombol {
        width: 3rem;
    }

    .tombol button {
        width: 9rem;
        height: 1.8rem;
    }
}