/* Font Jua */
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
/* Font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rubik:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    opacity: 0;
    animation: body-load 250ms ease-in-out 300ms forwards;
}

::selection {
    background-color: white;
    color: #D89E9E;
}

.navbar {
    font-family: 'Rubik', sans-serif;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, .5);
    text-shadow: 0 3px 3px rgba(0, 0, 0, .5);
    opacity: 0;
    animation: nav-load 500ms ease-out 700ms forwards;
}

.navbar-brand {
    font-family: 'Jua', sans-serif;
    padding-left: 3rem;
    opacity: 0;
    animation: nav-title 1s ease-in 1s forwards;
}

.nav-item {
    opacity: 0;
    animation: nav-menu 1s ease-out 1.5s forwards;
}

.nav-link {
    transform: translateY(-3px);
    transition: 0.3s ease;
}

.nav-link:hover {
    transform: translateY(0);
}

.nav-link.active {
    transform: translateY(-3px);
}

.tentang-luar {
    height: 70vh;
}

.tentang-dalam {
    background-color: rgba(169, 94, 94, 0.56);
    border-radius: 35px;
    height: 60vh;
    opacity: 0;
    animation: ten-dal-load 1s ease-in-out 1.5s forwards;
}

.judul {
    border-bottom: 1px solid #DAA7A7;
}

.judul h1 {
    font-size: 3.5rem;
    font-weight: bold;
    text-shadow: 0 3px 3px rgba(0, 0, 0, .5);
    opacity: 0;
    animation: teks-h1-load 1.3s ease 2s forwards;
}

.teks {
    opacity: 0;
    animation: teks-load 1.3s ease 2.2s forwards;
}

.teks li {
    list-style: none;
}

.kolom-tentang {
    height: 55vh;
}

.p-ket {
    opacity: 0;
    animation: p-ket-load 1.3s ease-out 2.5s forwards;
}

.bor {
    border: solid red;
}

@keyframes body-load {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        background-color: #D89E9E;
        opacity: 1;
    }
}

@keyframes nav-load {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes nav-title {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes nav-menu {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes ten-dal-load {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes teks-h1-load {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes teks-load {
    0% {
        transform: translateY(-80%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes p-ket-load {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@media (max-width:1200px) {
    .tombol button {
        width: 9.5rem;
        height: 1.8rem;
    }
}

@media(max-width: 992px) {
    .tombol {
        width: 3rem;
    }

    .tombol button {
        width: 9rem;
        height: 1.8rem;
    }
}